<!--
---
title:		'Events'
layout:		'default'
---
-->


<!-- Future Events -->
<div class="container mb-4 mb-md-5">
	<h2 class="text-center">Future Events</h2>
	<hr>
	{% assign count = 0 %}
	{% assign curDate = site.time | date: '%s' %}
	{% for event in site.events %}
		{% assign eventStartDate = event.date | date: '%s' %}
		{% if eventStartDate > curDate and event.status != 'Cancelled' %}
			{% assign count = count | plus: 1 %}
		{% endif %}
	{% endfor %}
	{% if count > 0 %}
		<div class="card-deck card-deck-2">
			{% for event in site.events %}
				{% assign eventStartDate = event.date | date: '%s' %}
				{% if eventStartDate > curDate and event.status != 'Cancelled' %}
					<div class="card mb-4 mx-auto shadow-sm">
						<div class="row no-gutters h-100">
							<div class="col-md-2 bg-dark text-white text-center">
								<ul class="list-unstyled event-date">
									<li><span class="event-date-day">{{ event.date | date: "%-d" }}</span></li>
									<li><span class="event-date-month">{{ event.date | date: "%b" }}</span></li>
									<li><span class="event-date-year">{{ event.date | date: "%Y" }}</span></li>
									{% if event.start-date != event.end-date %}
										<li><hr></li>
										<li>{{ event.start-date | date: "%-d" }} {{ event.start-date | date: "%b" }} -</li>
										<li>{{ event.end-date | date: "%-d" }} {{ event.end-date | date: "%b" }}</li>
									{% endif %}
								</ul>
							</div>
							<div class="col-md-10">
								{% if event.status == 'Attending' %}
									<h5 class="card-header"><a href="{{ event.url }}">{{ event.title }}</a> <span class="badge badge-success">Attending</span></h5>
								{% endif %}
								{% if event.status == 'Planned' %}
									<h5 class="card-header"><a href="{{ event.url }}">{{ event.title }}</a> <span class="badge badge-info">Planned</span></h5>
								{% endif %}
								{% if event.status == 'Cancelled' %}
									<h5 class="card-header"><a href="{{ event.url }}">{{ event.title }}</a> <span class="badge badge-danger">Cancelled</span></h5>
								{% endif %}
								<div class="card-body">
									<ul class="list-unstyled">
										<li><span class="font-weight-bold">Location:</span> {{ event.location }}</li>
										<li><span class="font-weight-bold">Street:</span> {{ event.street }}</li>
										<li><span class="font-weight-bold">City:</span> {{ event.address }}</li>
										<li><span class="font-weight-bold">Time:</span> {{ event.time | join: ', ' }}</li>
									</ul>
									<p class="card-text">{{ event.excerpt }}</p>
									<a href="{{ event.url }}">[ More ]</a>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% else %}
		<p class="text-center">There are currently no future events.</p>
	{% endif %}
</div>
<!-- End Future Events -->


<!-- Cancelled Events -->
<div class="container mb-4 mb-md-5">
	<h2 class="text-center">Cancelled Events</h2>
	<hr>
	{% assign count = 0 %}
	{% assign curDate = site.time | date: '%s' %}
	{% for event in site.events %}
		{% assign eventStartDate = event.date | date: '%s' %}
		{% if eventStartDate > curDate and event.status == 'Cancelled' %}
			{% assign count = count | plus: 1 %}
		{% endif %}
	{% endfor %}
	{% if count > 0 %}
		<div class="card-deck card-deck-2">
			{% for event in site.events %}
				{% assign eventStartDate = event.date | date: '%s' %}
				{% if eventStartDate > curDate and event.status == 'Cancelled' %}
					<div class="card mb-4 mx-auto shadow-sm">
						<div class="row no-gutters h-100">
							<div class="col-md-2 text-center bg-dark text-white">
								<ul class="list-unstyled event-date">
									<li><span class="event-date-day">{{ event.date | date: "%-d" }}</span></li>
									<li><span class="event-date-month">{{ event.date | date: "%b" }}</span></li>
									<li><span class="event-date-year">{{ event.date | date: "%Y" }}</span></li>
									{% if event.start-date != event.end-date %}
										<li><hr></li>
										<li>{{ event.start-date | date: "%-d" }} {{ event.start-date | date: "%b" }} -</li>
										<li>{{ event.end-date | date: "%-d" }} {{ event.end-date | date: "%b" }}</li>
									{% endif %}
								</ul>
							</div>
							<div class="col-md-10">
								{% if event.status == 'Attending' %}
									<h5 class="card-header"><a href="{{ event.url }}">{{ event.title }}</a> <span class="badge badge-success">Attending</span></h5>
								{% endif %}
								{% if event.status == 'Planned' %}
									<h5 class="card-header"><a href="{{ event.url }}">{{ event.title }}</a> <span class="badge badge-info">Planned</span></h5>
								{% endif %}
								{% if event.status == 'Cancelled' %}
									<h5 class="card-header"><a href="{{ event.url }}">{{ event.title }}</a> <span class="badge badge-danger">Cancelled</span></h5>
								{% endif %}
								<div class="card-body">
									<ul class="list-unstyled">
										<li><span class="font-weight-bold">Location:</span> {{ event.location }}</li>
										<li><span class="font-weight-bold">Street:</span> {{ event.street }}</li>
										<li><span class="font-weight-bold">City:</span> {{ event.address }}</li>
										<li><span class="font-weight-bold">Time:</span> {{ event.time | join: ', ' }}</li>
									</ul>
									<p class="card-text">{{ event.excerpt }}</p>
									<a href="{{ event.url }}">[ More ]</a>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	{% else %}
		<p class="text-center">There are currently no cancelled events.</p>
	{% endif %}
</div>
<!-- End Cancelled Events -->
