---
layout:		'default'
title:		'Events'
---

<!-- Events -->
<div class="container my-4 my-md-5 text-center" id="events">
	<h2 class="pb-2">Planned Events</h2>
	<div class="row">
		<div class="col my-3">
			<div class="card-deck">
				{% assign curDate = site.time | date: '%s' %}
				{% for post in site.posts reversed %}
					{% assign eventStartDate = post.date | date: '%s' %}
					{% if eventStartDate > curDate %}
						<div class="card my-3 shadow-sm" style="min-width: calc(25% - 30px); max-width: calc(25% - 30px)">
							<div class="card-body">
								<h5 class="card-title">{{ post.title }}</h5>
								<p class="card-text">{{ post.excerpt }}</p>
							</div>
							<div class="card-footer">
								<ul class="list-unstyled">
									<li style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap">{{ post.location }}</li>
									<li>{{ post.street }}</li>
									<li>{{ post.address }}</li>
									<li>{{ post.date | date: "%-d %B %Y" }}</li>
									<li>{{ post.time }}</li>
								</ul>
								{% if post.status == 'Attending' %}
									<a href="{{ post.url }}" class="btn btn-primary">More</a>
								{% endif %}
								{% if post.status == 'Planned' %}
									<a href="{{ post.url }}" class="btn btn-info">Planned</a>
								{% endif %}
								{% if post.status == 'Cancelled' %}
									<a href="{{ post.url }}" class="btn btn-danger">CANCELLED</a>
								{% endif %}
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- End Events -->