---
layout:		'default'
title:		'FAQ'
---


<!-- Club FAQ -->
<div class="jumbotron my-4 my-md-5" id="faq-club">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="text-center">Club FAQ</h2>
			</div>
		</div>
	</div>
</div>


<div class="container my-4 my-md-5">
	<div class="row">
		<div class="col-sm-12 col-lg-7 my-3 mx-auto" id="members">
			<div class="accordion" id="accordionExample">
				{% for faq in site.data.faq-club %}
					<div class="card">
						<div class="card-header" id="heading{{ faq.id }}">
							<h2 class="mb-0">
								<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ faq.id }}" aria-expanded="true" aria-controls="collapse{{ faq.id }}">
									{{ faq.question }}
								</button>
							</h2>
						</div>
						<div id="collapse{{ faq.id }}" class="collapse" aria-labelledby="heading{{ faq.id }}" data-parent="#accordionExample">
							<div class="card-body">
								{{ faq.answer | replace: "site.email", site.email | replace: "site.ninerengage", site.ninerengage }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- End Club FAQ-->


<!-- Licensing FAQ -->
<div class="jumbotron my-4 my-md-5" id="faq-licensing">
	<div class="container">
		<div class="row">
			<div class="col">
				<h2 class="text-center">Licensing FAQ</h2>
			</div>
		</div>
	</div>
</div>


<div class="container my-4 my-md-5">
	<div class="row">
		<div class="col-sm-12 col-lg-7 my-3 mx-auto" id="members">
			<div class="accordion" id="accordionExample">
				{% for faq in site.data.faq-licensing %}
					<div class="card">
						<div class="card-header" id="heading{{ faq.id }}">
							<h2 class="mb-0">
								<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ faq.id }}" aria-expanded="true" aria-controls="collapse{{ faq.id }}">
									{{ faq.question }}
								</button>
							</h2>
						</div>
						<div id="collapse{{ faq.id }}" class="collapse" aria-labelledby="heading{{ faq.id }}" data-parent="#accordionExample">
							<div class="card-body">
								{{ faq.answer }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- End LicensingFAQ -->
