---
layout:		'default'
title:		'MDC & FleetSync IDs'
---


<!-- About MDC1200 & Kenwood FleetSync -->
<div class="jumbotron jumbotron-fluid my-4 my-md-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 my-3">
				<h3 class="pb-2 text-center">About MDC1200</h3>
				<p>
					Many of our club members have Motorola commercial radios that use MDC1200. MDC1200 is a low-data rate system that allows for User ID, Selective Calling, Paging and Radio Check. IDs are transmitted at the beginning and end of transmission. We are looking into implementing status messages in the near future. Once we do another table will be created on this page containing them. IDs are based on the DTMF lettering of the last 4 characters of a call sign to create a semi-unique value. <span class="font-weight-bold">The club fleet ID is 862</span>.
				</p>
			</div>
			<div class="col-sm-6 my-3">
				<h3 class="pb-2 text-center">Kenwood FleetSync</h3>
				<p>
					For the few members that run Kenwood equipment, our club also uses FleetSync at <span class="font-weight-bold">1200 baud</span>. ID's are based on the same system as our MDC1200 ID's. The same 4 digit ID's are used in both systems.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- End About MDC1200 & Kenwood FleetSync -->


<!-- MDC & FleetSync ID Table & Status Code List -->
<div class="container my-4 my-md-5 text-center">
	<div class="row">
		<div class="col-lg-6 my-3">
			<h3 class="pb-2">MDC & FleetSync ID Table</h3>
			<table class="table table-sm table-striped table-bordered table-hover mx-auto">
				<thead class="thead-dark">
					<tr>
						<th>Call Sign</th>
						<th>Fleet ID</th>
						<th>Individual ID</th>
					</tr>
				</thead>
				<tbody>
					{% for id in site.data.ids %}
						<tr>
							<td>{{ id.CallSign }}</td>
							<td>{{ id.FleetID }}</td>
							<td>{{ id.IndividualID }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="col-lg-6 my-3">
			<h3 class="pb-2">Status Code List</h3>
			<table class="table table-sm table-striped table-bordered table-hover mx-auto">
				<thead class="thead-dark">
					<tr>
						<th>MDC Status</th>
						<th>FleetSync Status</th>
						<th>Message</th>
					</tr>
				</thead>
				<tbody>
					{% for code in site.data.status %}
						<tr>
							<td>{{ code.MDCStatus }}</td>
							<td>{{ code.FleetSyncStatus }}</td>
							<td>{{ code.Message }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- End MDC & FleetSync ID Table & Status Code List -->
