---
title: Club IDs & Codes
layout: default
---

<!-- About MDC1200 & Kenwood FleetSync -->
<div class="jumbotron jumbotron-fluid my-4 my-md-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 my-3">
				<h3 class="pb-2 text-center">Motorola MDC1200</h3>
				<p>Many of our club members have Motorola commercial radios that use MDC1200. MDC1200 is a low-data rate system that allows for User ID, Selective Calling, Paging and Radio Check. IDs are transmitted at the beginning and end of transmission. IDs are based on the DTMF lettering of the last 4 characters of a call sign to create a semi-unique value. <span class="font-weight-bold">The club fleet ID is 862</span>.</p>
			</div>
			<div class="col-sm-6 my-3">
				<h3 class="pb-2 text-center">Kenwood FleetSync</h3>
				<p>Kenwood FleetSync is a message system that allows for indiviual transceiver identification and text messages. For the few members that run Kenwood equipment, our club uses FleetSync at <span class="font-weight-bold">1200 baud</span>. ID's are based on the same system as our MDC1200 ID's. The same 4 digit ID's are used in both systems.</p>
			</div>
		</div>
	</div>
</div>
<!-- End About MDC1200 & Kenwood FleetSync -->


<!-- MDC & FleetSync ID Table & Status Code List -->
<div class="container my-4 my-md-5 text-center">
	<div class="row">
		<div class="col-sm-12 col-lg-7 my-3 mx-auto">
			<h3 class="pb-2">IDs & Status Codes Tables</h3>
			<div class="accordion" id="accordionExample">
				<div class="card shadow-sm">
					<div class="card-header" id="headingOne">
						<h2 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								MDC1200 & FleetSync IDs
							</button>
						</h2>
					</div>
					<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="alert alert-warning" role="alert">
							The WØUNC club ID is 862.
						</div>
						<div class="card-body">
							<table class="table table-sm table-striped table-bordered table-hover mx-auto">
								<thead class="thead-dark">
									<tr>
										<th>Call Sign</th>
										<th>First Name</th>
										<th>Individual ID</th>
									</tr>
								</thead>
								<tbody>
									{% for id in site.data.ids %}
										<tr>
											<td>{{ id.CallSign }}</td>
											<td>{{ id.FirstName }}</td>
											<td>{{ id.IndividualID }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="card-header" id="headingTwo">
						<h2 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
								Status Codes
							</button>
						</h2>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
							<table class="table table-sm table-striped table-bordered table-hover mx-auto">
								<thead class="thead-dark">
									<tr>
										<th>MDC1200</th>
										<th>FleetSync</th>
										<th>Message</th>
									</tr>
								</thead>
								<tbody>
									{% for code in site.data.status %}
										<tr>
											<td>{{ code.MDCStatus }}</td>
											<td>{{ code.FleetSyncStatus }}</td>
											<td>{{ code.Message }}</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End MDC & FleetSync ID Table & Status Code List -->
