---
layout:		home
title:		Home
---


<!-- About -->
<div class="container my-4 my-md-5 text-center" id="about">
	<h2 class="pb-2">About Us</h2>
	<p>
		The Amateur Radio Club of UNC Charlotte is a student interest group whose purposes are to provide the local community with emergency communications, educate students, faculty, and staff in becoming amateur radio operators, and to foster fellowship within the amateur radio community. This is registered student organization on the campus of UNC Charlotte, and it is a fledgling group.
	</p>
</div>
<!-- End About-->


<!-- Information -->
<div class="jumbotron jumbotron-fluid my-4 my-md-5 text-center">
	<div class="container">
		<h2 class="pb-2">Information</h2>
		<div class="row">
			<div class="col-md-4 my-3">
				<h4><i class="fas fa-microphone fa-5"></i><br>Repeater</h4>
				<p>
					We have a repeater on the roof of the Atkins Library broadcasting on frequency 442.650MHz (+5MHz) PL 88.5 In/Out. We stress that you must be an FCC Licensed Operator (or hold a comparable authorization) to access our repeater.
				</p>
			</div>
			<div class="col-md-4 my-3">
				<h4><i class="fas fa-bolt fa-5"></i><br>Meetings</h4>
				<p>
					We meet monthly at a predesignated time and place. Check our <a href="{{ site.ninerengage }}" target="_blank">NinerEngage</a> page for meeting announcements. Any undergraduate, graduate, alumni, or faculty may attend the meetings. No RSVP is required.
				</p>
			</div>
			<div class="col-md-4 my-3">
				<h4><i class="fas fa-comments fa-5"></i><br>Contact</h4>
				<p>
					The easiest way to contact us is though the repeater, you can also contact us by emailing <a href="mailto:{{ site.email }}">club@w0unc.org</a>. More contact options can be found once you have logged into our NinerEngage page.
				</p>
			</div>
		</div>
	</div>
</div>
<!-- End Information -->


<!-- Events Calendar -->
<div class="container my-4 my-md-5 text-center" id="events">
	<h2 class="pb-2">Planned Events</h2>
	<div class="row">
		{% for event in site.categories.events reversed %}
			{% if event.visible == 'Yes' %}
				<div class="col-md-6 col-lg-3 my-3 mx-auto">
					<div class="card shadow-sm">
						<div class="card-body">
							<h5 class="card-title">{{ event.title }}</h5>
							<p class="card-text">{{ event.description }}</p>
						</div>
						<div class="card-footer">
							<ul class="list-unstyled">
								<li>{{ event.location }}</li>
								<li>{{ event.day }}</li>
								<li>{{ event.time }}</li>
							</ul>
							<a href="{{ event.website }}" class="btn btn-info" target="_blank">More</a>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
<!-- End Events Calendar -->


<!-- Frequently Asked Questions -->
<div class="container my-4 my-md-5" id="faq">
	<h2 class="pb-2 text-center">Frequently Asked Questions</h2>
	<div class="row">
		<div class="col-sm-6 my-3">
			<h4>What is Amateur Radio?</h4>
			<p>
				Amateur Radio is a hobby that is enjoyed across the nation and the world. One of the primary purposes of Amateur Radio is emergency preparedness—in the event of a natural disaster, often the only available form of communication is via radio. Amateur Radio Operators assist in this by providing necessary communications as a public service.
			</p>
		</div>
		<div class="col-sm-6 my-3">
			<h4>How do I get involved?</h4>
			<p>
				The easiest way to get involved with our club is to come to a meeting! If you cannot make our regular meetings, you can also send an email to <a href="mailto:{{ site.email }}">club@w0unc.org</a> or contact us though our repeater.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 my-3">
			<h4>How can I get my license?</h4>
			<p>
				Getting your license is relatively straightforward and often times the easiest method is to memorize the test questions. Our favorite practice exam is located <a href="https://hamstudy.org" target="_blank">here</a>. For assistance with studying or recommendations, you can contact the club and we will be happy to assist!
			</p>
		</div>
	</div>
</div>
<!-- End Frequently Asked Questions -->


<!-- Tagline -->
<div class="jumbotron my-4 my-md-5">
	<div class="container">
		<h4 class="lead font-italic">When all else fails... Amateur Radio</h4>
	</div>
</div>
<!-- End Tagline -->