---
layout:		'default'
title:		'Links'
---


<!-- Links -->
<div class="container mb-4 mb-md-5 text-center">
	<div  class="card-columns">
		{% for group in site.data.links %}
			<div class="card mb-4 shadow-sm">
				<div class="card-body">
					<h5 class="card-title">{{ group.title }}</h5>
					<ul class="list-unstyled">
						{% for link in group.links %}
							<li><a href="{{ link.url | replace: 'site.ninerengage', site.ninerengage | replace: 'site.arrl-band-chart', site.arrl-band-chart }}" target="_blank">{{ link.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		{% endfor %}
	</div>
</div>
<!-- End Links -->
