---
layout:		'default'
title:		'Club Projects'
---


<!-- Justin's Infamous Words -->
<div class="container mb-4 mb-md-5">
	<blockquote class="blockquote text-center">
		<p class="mb-0">Our works in progress and unattainable delusions of grandeur.</p>
		<span class="blockquote-footer">W4HEK Justin</span>
	</blockquote>
</div>
<!-- End Justin's Infamous Words -->


<!-- Club Projects In-Progress -->
<div class="container mb-4 mb-md-5 text-center">
	<div class="row">
		<div class="col">
		<h2>In-Progress</h2>
		<hr>
		<div class="card-deck card-deck-3">
			{% assign sorted_projects = (site.projects | sort: 'progress' | reverse ) %}
			{% for project in sorted_projects %}
				{% if project.progress < 100 %}
					<div class="card mb-4 mx-auto shadow-sm">
						<h5 class="card-header"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h5>
						<div class="card-body">
							{% if project.status == 'Designing' %}
								<span class="badge badge-pill badge-secondary">Designing</span>
							{% endif %}
							{% if project.status == 'Building' %}
								<span class="badge badge-pill badge-info">Building</span>
							{% endif %}
							{% if project.status == 'Testing' %}
								<span class="badge badge-pill badge-primary">Testing</span>
							{% endif %}
							{% if project.status == 'On-Hold' %}
								<span class="badge badge-pill badge-warning">On-Hold</span>
							{% endif %}
							{% if project.status == 'Cancelled' %}
								<span class="badge badge-pill badge-danger">Cancelled</span>
							{% endif %}
							{% if project.status == 'Complete' %}
								<span class="badge badge-pill badge-success">Complete</span>
							{% endif %}
							<p class="card-text">{{ project.excerpt }}</p>
						</div>
						<div class="card-footer">
							<div class="progress my-3" style="height: 20px">
								{% if project.progress == 100 %}
									<div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
								{% else %}
									<div class="progress-bar" role="progressbar" style="width: {{ project.progress }}%;" aria-valuenow="{{ project.progress }}" aria-valuemin="0" aria-valuemax="100">{{ project.progress }}%</div>
								{% endif %}
							</div>
							<a href="{{ site.baseurl }}{{ project.url }}">[ More ]</a>
						</div>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div></div>
<!-- End Club Projects In-Progress -->


<!-- Club Projects Complete -->
<div class="container mb-4 mb-md-5 text-center">
	<h2>Complete</h2>
	<hr>
	<div class="card-deck card-deck-3">
		{% for project in site.projects %}
			{% if project.progress == 100 %}
				<div class="card mb-4 mx-auto shadow-sm">
					<h5 class="card-header"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></h5>
					<div class="card-body">
						{% if project.status == 'Complete' %}
							<span class="badge badge-pill badge-success">Complete</span>
						{% endif %}
						<p class="card-text">{{ project.excerpt }}</p>
					</div>
					<div class="card-footer">
						<div class="progress my-3" style="height: 20px">
							{% if project.progress == 100 %}
								<div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
							{% else %}
								<div class="progress-bar" role="progressbar" style="width: {{ project.progress }}%;" aria-valuenow="{{ project.progress }}" aria-valuemin="0" aria-valuemax="100">{{ project.progress }}%</div>
							{% endif %}
						</div>
						<a href="{{ site.baseurl }}{{ project.url }}">[ More ]</a>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
<!-- End Club Projects Complete -->
