---
layout:		'default'
title:		'Repeater Information'
---


<!-- Repeater Information -->
<div class="jumbotron mb-4 mb-md-5">
	<div class="container">
		<dl class="row">
			<dt class="col-sm-6 text-sm-right">WØUNC</dt><dd class="col-sm-6">442.650MHz (+5MHz Offset) 88.5 PL In/Out</dd>
			<dt class="col-sm-6 text-sm-right">Location</dt><dd class="col-sm-6">Atkins Library, UNC Charlotte</dd>
			<dt class="col-sm-6 text-sm-right">Modes</dt><dd class="col-sm-6">Analog, P25 (293)</dd>
			<dt class="col-sm-6 text-sm-right">Nodes</dt><dd class="col-sm-6">EchoLink (W0UNC-R, {{ site.echolink-id }})</dd>
		</dl>
	</div>
</div>
<!-- End Repeater Information -->


<!-- Map -->
<div class="container mb-4 mb-md-5 text-center">
	<h2>Atkins Library</h2>
	<hr>
	<div class="row">
		<div class="col-6">
			<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBdGFT-TyqFqUs3O5OHnvoIHFChd6OFqHs&q=Atkins+Library" allowfullscreen></iframe>
		</div>
		<div class="col-6">
			<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?key=AIzaSyBdGFT-TyqFqUs3O5OHnvoIHFChd6OFqHs&center=35.306049,-80.732552&zoom=20&maptype=satellite" allowfullscreen></iframe>
		</div>
	</div>
</div>
<!-- End Map -->


<!-- Repeater Coverage Maps -->
<div class="container mb-4 mb-md-5 text-center">
	<h2>Repeater Coverage Maps</h2>
	<hr>
	{% if site.maps.size > 0 %}
		<div class="card-deck card-deck-2">
			{% for map in site.maps reversed %}
				<div class="card mb-4 mx-auto shadow-sm">
					<h5 class="card-header">{{ map.title }}</h5>
					<div class="card-body">
						<ul class="list-unstyled">
							<li><span class="font-weight-bold">Location:</span> {{ map.landmark }}</li>
							<li><span class="font-weight-bold">Altitude:</span> {{ map.agl }}ft AGL ({{ map.msl }}ft MSL)</li>
							<li><span class="font-weight-bold">Frequency:</span> {{ map.frequency }}MHz</li>
							<li><span class="font-weight-bold">Power:</span> {{ map.power }}w</li>
						</ul>
					</div>
					<div id="{{ map.name }}" style="min-height: 500px; width: 100%;"></div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<p>There are currently no maps to display.</p>
	{% endif %}
</div>
<!-- End Repeater Coverage Maps -->
