---
layout:		'default'
title:		'Repeater Information'
---


<!-- Repeater -->
<div class="jumbotron my-4 my-md-5 text-center">
	<div class="container">
		<h3>WØUNC</h3>
		<ul class="list-unstyled">
			<li class="lead">442.650MHz (+5MHz Offset) 88.5 PL In/Out</li>
			<li>Atkins Library, UNC Charlotte - 169ft AGL</li>
			<li>Mixed Analog/P25</li>
			<li>P25 NAC: 293</li>
		</ul>
	</div>
</div>
<!-- End Repeater -->


<!-- Repeater Coverage Maps -->
<div class="container my-4 my-md-5 text-center">
	<h3 class="pb-2">Repeater Coverage Maps</h3>
	<div class="row">
		{% for map in site.maps reversed %}
			{% if map.visible == 'Yes' %}
				<div class="col-lg-6 mx-auto">
					<div class="card my-3 shadow-sm">
						<div class="card-body">
							<h5 class="card-title text-center">{{ map.title }}</h5>
							<h6 class="card-subtitle text-center">{{ map.diameter }} Miles Diameter</h6>
							<hr>
							<ul class="list-unstyled">
								<li><span class="font-weight-bold">Location:</span> {{ map.location }}</li>
								<li><span class="font-weight-bold">Altitude:</span> {{ map.altitude }}</li>
								<li><span class="font-weight-bold">Frequency:</span> {{ map.frequency }}</li>
								<li><span class="font-weight-bold">Power:</span> {{ map.power }}</li>
							</ul>
							<a href="{{ site.baseurl }}/assets/img/{{ map.link }}" class="btn btn-primary" target="_blank">View</a>
						</div>
						<img alt="WØUNC Coverage Map" class="card-img-top" src="{{ site.baseurl }}/assets/img/{{ map.link }}">
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>
</div>
<!-- End Repeater Coverage Maps -->
