---
layout:		default
title:		Testing Sessions
---


<!-- FRN Number -->
<div class="container my-4 my-md-5 text-center">
	<h3 class="pb-2">FCC Registration Number (FRN)</h3>
	<p>
		It is highly recommended that you get an FRN number before attending a testing session. It can be used in place of a Social Security Number and in some cases it will be the only number you will be allowed to use. Remember to write it down or store it someplace safe after you receive it.
	</p>
	<a class="btn btn-info" href="https://apps.fcc.gov/coresWeb/publicHome.do" target="_blank">Get FRN</a>
</div>
<!-- End FRN Number-->


<!-- Sessions Agenda -->
<div class="jumbotron jumbotron-fluid my-3 my-md-5 text-center">
	<div class="container">
		<h3 class="pb-2">Upcoming Sessions</h3>
		<div class="alert alert-info" role="alert">
			We are currently not offering our own testing sessions. A few of our members are undergoing VE training and we will begin scheduling our own sessions once they are done. We will include unaffiliated sessions if a sizable amount of our members are attending or transportation is provided.
		</div>
		<div class="row">
			{% for post in site.categories.testing %}
			<div class="col-md-6 col-lg-4 mx-auto">
				<div class="card my-3 shadow-sm">
						<div class="card-body">
							<h5 class="card-title">{{ post.title }}</h5>
							<p class="card-text">{{ post.description }}</p>
						</div>
						<ul class="list-group list-group-flush">
							{% if post.transportation == 'Yes' %}
								<li class="list-group-item">Transportation Provided</li>
							{% endif %}
							{% if post.transportation == 'No' %}
								<li class="list-group-item">No Transportation</li>
							{% endif %}
							{% if post.rsvp == 'Yes' %}
								<li class="list-group-item">RSVP Required</li>
							{% endif %}
							{% if post.rsvp == 'No' %}
								<li class="list-group-item">No RSVP</li>
							{% endif %}
						</ul>
						<div class="card-footer">
							<ul class="list-unstyled">
								<li>{{ post.location }}</li>
								<li>{{ post.day }}</li>
								<li>{{ post.time }}</li>
							</ul>
							<a href="#" class="btn btn-info">More</a>
						</div>
					</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- End Sessions Agenda -->


<!-- External Testing Sessions -->
<div class="container my-4 my-md-5 text-center">
	<div class="row">
		<div class="col-md-6 my-3">
			<h3 class="pb-2">ARRL Testing Sessions</h3>
			<p>
				These are a list of ARRL testing sessions. We will most likely not be providing transportation to these events. Check out our events page for testing sessions we will be attending and providing transportation. The Amateur Radio Club at UNC Charlotte and ARRL are not affiliated.
			</p>
			<a href="{{ site.arrl-exams }}" class="btn btn-info" target="_blank">View</a>
		</div>
		<div class="col-md-6 my-3">
			<h3 class="pb-2">Laurel Testing Sessions</h3>
			<p>
				These are a list of Laurel testing sessions. We will most likely not be providing transportation to these events. Check out our events page for testing sessions we will be attending and providing transportation. The Amateur Radio Club at UNC Charlotte and Laurel are not affiliated.
			</p>
			<a href="{{ site.laurel-exams }}" class="btn btn-info" target="_blank">View</a>
		</div>
	</div>
</div>
<!-- End External Testing Sessions -->
