<footer id="footer">
	<div class="container mt-4 mt-lg-5">
		<div class="row">
			<div class="col-sm-6 col-lg-3 my-3 my-lg-5">
				<h3>Contact</h3>
				<ul class="list-unstyled mb-0">
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
					<li><hr></li>
					<li><b>Mailing Address:</b></li>
					<li>Amateur Radio Club at UNC Charlotte</li>
					<li>SGOC Complex</li>
					<li>Student Union, Room 212</li>
					<li>University of North Carolina at Charlotte</li>
					<li>9201 University City Boulevard</li>
					<li>Charlotte, NC 28223-0001</li>
				</ul>
			</div>
			<div class="col-sm-6 col-lg-3 my-3 my-lg-5">
				<h3>Links</h3>
				<ul class="list-unstyled d-none d-sm-inline">
					<li><a href="{{ site.baseurl }}/">Home</a></li>
					<li><a href="{{ site.baseurl }}/index#about">About</a></li>
					<li><a href="{{ site.baseurl }}/index#events">Events</a></li>
					<li><a href="{{ site.baseurl }}/index#faq">FAQ</a></li>
					<li><a href="{{ site.ninerengage }}" target="_blank">NinerEngage</a></li>
					<li><a href="{{ site.baseurl }}/repeater">Repeater</a></li>
					<li><a href="{{ site.baseurl }}/projects">Projects</a></li>
					<li><a href="{{ site.baseurl }}/testing">Testing</a></li>
					<li><a href="{{ site.baseurl }}/ids">MDC1200 & FleetSync IDs</a></li>
					<li><a href="{{ site.code-plugs }}" target="_blank">Code Plugs</a></li>
				</ul>
				<div class="list-group d-sm-none">
					<a href="{{ site.baseurl }}/" class="list-group-item list-group-item-action list-group-item-dark">Home</a>
					<a href="{{ site.baseurl }}/index#about" class="list-group-item list-group-item-action list-group-item-dark">About</a>
					<a href="{{ site.baseurl }}/index#events" class="list-group-item list-group-item-action list-group-item-dark">Events</a>
					<a href="{{ site.baseurl }}/index#faq" class="list-group-item list-group-item-action list-group-item-dark">FAQ</a>
					<a href="{{ site.ninerengage }}" class="list-group-item list-group-item-action list-group-item-dark" target="_blank">NinerEngage</a>
					<a href="{{ site.baseurl }}/repeater" class="list-group-item list-group-item-action list-group-item-dark">Repeater</a>
					<a href="{{ site.baseurl }}/projects" class="list-group-item list-group-item-action list-group-item-dark">Projects</a>
					<a href="{{ site.baseurl }}/testing" class="list-group-item list-group-item-action list-group-item-dark">Testing</a>
					<a href="{{ site.baseurl }}/ids" class="list-group-item list-group-item-action list-group-item-dark">MDC1200 & FleetSync IDs</a>
					<a href="{{ site.code-plugs }}" class="list-group-item list-group-item-action list-group-item-dark" target="_blank">Code Plugs</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 my-3 my-lg-5">
				<h3>Follow Us</h3>
				<div>
					<a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fab fa-facebook fa-4x"></i></a>
					<a href="https://www.github.com/{{ site.github_username }}" target="_blank"><i class="fab fa-github fa-4x"></i></a>
					<a href="https://www.twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fab fa-facebook fa-4x"></i></a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid py-3 text-center" id="footer-copyright">
		<div class="container">
			<span>{{ site.copyright }}</span>
		</div>
	</div>
</footer>


<!-- JavaScript -->
<script src="{{ site.baseurl }}/assets/js/jquery-3.4.1.slim.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
<!-- End JavaScript -->


</body>
</html>