<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-lg-3 my-3 my-lg-5">
				<h3>Contact</h3>
				<ul class="list-unstyled mb-0">
					<li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
					<li><hr></li>
					<li><b>Mailing Address:</b></li>
					<li>Amateur Radio Club at UNC Charlotte</li>
					<li>SGOC Complex</li>
					<li>Student Union, Room 212</li>
					<li>University of North Carolina at Charlotte</li>
					<li>9201 University City Boulevard</li>
					<li>Charlotte, NC 28223-0001</li>
				</ul>
			</div>
			<div class="col-sm-6 col-lg-3 my-3 my-lg-5">
				<h3>WØUNC</h3>
				<ul class="list-unstyled d-none d-sm-inline">
					<li><a href="{{ site.baseurl }}/">Home</a></li>
					<li><a href="{{ site.baseurl }}/index#about">About</a></li>
					<li><a href="{{ site.baseurl }}/index#info">Info</a></li>
					<li><a href="{{ site.baseurl }}/index#events">Events</a></li>
					<li><a href="{{ site.baseurl }}/ids">Club IDs & Codes</a></li>
					<li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
					<li><a href="{{ site.baseurl }}/repeater">Repeater</a></li>
					<li><a href="{{ site.baseurl }}/projects">Projects</a></li>
					<li><a href="{{ site.baseurl }}/testing">Testing</a></li>
					<li><a href="{{ site.baseurl }}/links">Links</a></li>
					<li><a href="{{ site.baseurl }}/wiki">Wiki</a></li>
				</ul>
				<div class="list-group list-group-flush d-sm-none">
					<a href="{{ site.baseurl }}/" class="list-group-item list-group-item-action list-group-item-dark">Home</a>
					<a href="{{ site.baseurl }}/index#about" class="list-group-item list-group-item-action list-group-item-dark">About</a>
					<a href="{{ site.baseurl }}/index#info" class="list-group-item list-group-item-action list-group-item-dark">Info</a>
					<a href="{{ site.baseurl }}/index#events" class="list-group-item list-group-item-action list-group-item-dark">Events</a>
					<a href="{{ site.baseurl }}/ids" class="list-group-item list-group-item-action list-group-item-dark">Club IDs & Codes</a>
					<a href="{{ site.baseurl }}/faq" class="list-group-item list-group-item-action list-group-item-dark">FAQ</a>
					<a href="{{ site.baseurl }}/repeater" class="list-group-item list-group-item-action list-group-item-dark">Repeater</a>
					<a href="{{ site.baseurl }}/projects" class="list-group-item list-group-item-action list-group-item-dark">Projects</a>
					<a href="{{ site.baseurl }}/testing" class="list-group-item list-group-item-action list-group-item-dark">Testing</a>
					<a href="{{ site.baseurl }}/links" class="list-group-item list-group-item-action list-group-item-dark">Links</a>
					<a href="{{ site.baseurl }}/wiki" class="list-group-item list-group-item-action list-group-item-dark">Wiki</a>
				</div>
			</div>
			<div class="col-sm-6 col-lg-3 my-3 my-lg-5">
				<h3>Location</h3>
				<ul class="list-unstyled mb-0">
					<li><b>Maidenhead Grid:</b> EM95ph23cj</li>
					<li><b>ITU Zone:</b> 8</li>
					<li><b>CQ Zone:</b> 5</li>
				</ul>
			</div>
			<div class="col-sm-6 col-lg-3 my-3 my-lg-5">
				<h3>Social</h3>
				<ul class="list-unstyled mb-0">
					<a href="https://ninerengage.uncc.edu/news/174684" class="fab fa-discord fa-4x" target="_blank"></a>
					<a href="https://github.com/W0UNC" class="fab fa-github-square fa-4x" target="_blank"></a>
					<a href="https://facebook.com/W0UNC" class="fab fa-facebook-square fa-4x" target="_blank"></a>
					<a href="https://twitter.com/W0UNC" class="fab fa-twitter-square fa-4x" target="_blank"></a>
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright container-fluid py-3 text-center">
		<div class="container">
			<span>©{{ site.time | date: '%Y' }} Amateur Radio Club at UNC Charlotte</span>
		</div>
	</div>
</footer>
<!-- End Footer -->


<!-- JavaScript -->
<script src="{{ site.baseurl }}/assets/js/jquery-3.5.1.slim.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/leaflet.js"></script>
<script src="{{ site.baseurl }}/assets/js/Control.FullScreen.js"></script>
<script>
	// AtkinsLibrary442650MHz90w
	var myMap = L.map('AtkinsLibraryW0UNC90w250km').setView([35.3057221291742, -80.732651428046], 8);
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		maxZoom: 18,
		id: 'mapbox/streets-v11',
		accessToken: 'pk.eyJ1IjoiYm1lYXJuaGFyZHQiLCJhIjoiY2szeHJoZnp2MTA1MDNydDhpd2V0bDZsbCJ9.jCO6mtMBmYWg3hmzWoOsgQ'
	}).addTo(myMap);
	var imageUrl = '{{ site.baseurl }}/assets/img/maps/coverage/AtkinsLibraryW0UNC90w250kmCov.png',
	imageBounds = [[38.0036995509476, -84.0386726928662], [32.6077447074008, -77.4266301632258]];
	L.imageOverlay(imageUrl, imageBounds).addTo(myMap);
	var icon = L.icon({
    iconUrl: '{{ site.baseurl }}/assets/img/maps/marker-icon.png',
    iconSize: [25, 41],
    iconAnchor: [13, 41],
    shadowUrl: '{{ site.baseurl }}/assets/img/maps/marker-shadow.png',
	});
	L.marker([35.3057221291742, -80.732651428046], { icon: icon }).addTo(myMap);
	L.control.fullscreen({
		position: 'topleft',
		title: 'Fullscreen',
		titleCancel: 'Exit Fullscreen',
		content: '<img src="{{ site.baseurl }}/assets/img/maps/icon-fullscreen.png">',
		forceSeparateButton: true,
		forcePseudoFullscreen: false,
		fullscreenElement: false,
	}).addTo(myMap);
</script>
<script>
	// AtkinsLibrary2m90w
	var myMap = L.map('AtkinsLibrary2m90w250km').setView([35.3057221291742, -80.732651428046], 8);
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		maxZoom: 18,
		id: 'mapbox/streets-v11',
		accessToken: 'pk.eyJ1IjoiYm1lYXJuaGFyZHQiLCJhIjoiY2szeHJoZnp2MTA1MDNydDhpd2V0bDZsbCJ9.jCO6mtMBmYWg3hmzWoOsgQ'
	}).addTo(myMap);
	var imageUrl = '{{ site.baseurl }}/assets/img/maps/coverage/AtkinsLibrary2m90w250kmCov.png',
	imageBounds = [[38.0036995509476, -84.0386726928662], [32.6077447074008, -77.4266301632258]];
	L.imageOverlay(imageUrl, imageBounds).addTo(myMap);
	L.marker([35.3057221291742, -80.732651428046], { icon: icon }).addTo(myMap);
	L.control.fullscreen({
		position: 'topleft',
		title: 'Fullscreen',
		titleCancel: 'Exit Fullscreen',
		content: '<img src="{{ site.baseurl }}/assets/img/maps/icon-fullscreen.png">',
		forceSeparateButton: true,
		forcePseudoFullscreen: false,
		fullscreenElement: false,
	}).addTo(myMap);
</script>
<!-- End JavaScript -->


</body>
</html>
