<!DOCTYPE HTML>


<html lang="en">


<head>
	<meta charset="utf-8">
	<meta name="description" content="{{ site.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Favicon -->
	<link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.png">

	<!-- Fonts -->
	<link rel="stylesheet" media="screen" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/all.min.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/leaflet.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/Control.FullScreen.css">
	<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

	<title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
</head>


<body>
