<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand d-none d-lg-block" href="{{ site.baseurl }}/"><img alt="WØUNC" height="60" src="{{ site.baseurl }}/assets/img/w0unc-logo-128.png"></a>
		<a class="navbar-brand d-none d-md-block" href="{{ site.baseurl }}/">Amateur Radio Club at UNC Charlotte</a>
		<a class="navbar-brand d-md-none" href="{{ site.baseurl }}/">WØUNC</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{ site.baseurl }}/">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Info
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ site.baseurl }}/index#about">About</a>
						<a class="dropdown-item" href="{{ site.baseurl }}/index#events">Events</a>
						<a class="dropdown-item" href="{{ site.baseurl }}/index#faq">FAQ</a>
						<a class="dropdown-item" href="mailto:{{ site.email }}">Contact</a>
						<a class="dropdown-item" href="{{ site.ninerengage }}" target="_blank">NinerEngage</a>
					</div>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/repeater">Repeater</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/projects">Projects</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/testing">Testing</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Code Plugs & IDs
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ site.baseurl }}/ids">MDC1200 & FleetSync IDs</a>
						<a class="dropdown-item" href="{{ site.code-plugs }}" target="_blank">Code Plugs</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>