<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand d-none d-md-block" href="{{ site.baseurl }}/"><img alt="WØUNC" height="60" src="{{ site.baseurl }}/assets/img/w0unc-logo-128.png"></a>
		<a class="navbar-brand d-none d-md-block" href="{{ site.baseurl }}/">Amateur Radio Club at UNC Charlotte</a>
		<a class="navbar-brand d-md-none" href="{{ site.baseurl }}/">WØUNC</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{ site.baseurl }}/"><span class="fas fa-home"></span></a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Club
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="{{ site.baseurl }}/index#about">About</a>
						<a class="dropdown-item" href="{{ site.baseurl }}/index#info">Info</a>
						<a class="dropdown-item" href="{{ site.baseurl }}/index#events">Events</a>
						<a class="dropdown-item" href="{{ site.baseurl }}/index#faq">FAQ</a>
						<a class="dropdown-item" href="{{ site.baseurl }}/rules">Rules</a>
						<a class="dropdown-item" href="{{ site.baseurl }}/ids">MDC & FleetSync IDs</a>
						<div class="dropdown-divider"></div>
						<h6 class="dropdown-header">External Sites</h6>
						<a class="dropdown-item" href="https://www.github.com/{{ site.github_username }}" target="_blank">GitHub</a>
						<a class="dropdown-item" href="{{ site.code-plugs }}" target="_blank">- Code Plugs</a>
						<a class="dropdown-item" href="{{ site.ninerengage }}" target="_blank">NinerEngage</a>
						<a class="dropdown-item" href="https://www.qrz.com/lookup/w0unc" target="_blank">QRZ</a>
						<a class="dropdown-item" href="https://repeaterbook.com/repeaters/details.php?state_id=37&ID=318" target="_blank">RepeaterBook</a>
					</div>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/repeater">Repeater</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/projects">Projects</a>
				</li>
				<li class="nav-item">
						<a class="nav-link" href="{{ site.baseurl }}/testing">Testing</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Local
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<h6 class="dropdown-header">Clubs</h6>
						<a class="dropdown-item" href="https://w4bfb.org/" target="_blank">W4BFB</a>
						<a class="dropdown-item" href="https://www.w4cq.org/" target="_blank">W4CQ</a>
						<a class="dropdown-item" href="https://www.rowanars.org/" target="_blank">N4UH</a>
						<div class="dropdown-divider"></div>
						<h6 class="dropdown-header">Events</h6>
						<a class="dropdown-item" href="https://charlottehamfest.org/" target="_blank">Charlotte Hamfest</a>
						<a class="dropdown-item" href="http://shelbyhamfest.org/" target="_blank">Shelby Hamfest</a>
						<a class="dropdown-item" href="https://www.ycars.org/?page_id=67" target="_blank">Rock Hill Hamfest</a>
						<div class="dropdown-divider"></div>
						<h6 class="dropdown-header">Emergency</h6>
						<a class="dropdown-item" href="https://www.mecklenburgares.org/" target="_blank">ARES & RACES</a>
						<a class="dropdown-item" href="https://charlotteskywarn.com/" target="_blank">Skywarn</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Quick Links
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<h6 class="dropdown-header">Band Information</h6>
						<a class="dropdown-item" href="http://www.arrl.org/files/file/Regulatory/Band%20Chart/Band%20Chart%20-%2011X17%20Color.pdf" target="_blank">US Amateur Radio Bands Chart</a>
						<a class="dropdown-item" href="http://www.arrl.org/band-plan" target="_blank">US Amateur Radio Band Plan</a>
						<a class="dropdown-item" href="https://www.hamqsl.com/solar.html" target="_blank">Solar Data</a>
						<div class="dropdown-divider"></div>
						<h6 class="dropdown-header">Testing Groups</h6>
						<a class="dropdown-item" href="http://www.arrl.org/find-an-amateur-radio-license-exam-session" target="_blank">ARRL</a>
						<a class="dropdown-item" href="https://www.laurelvec.com/?pg=exams" target="_blank">Laurel VEC</a>
					</div>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<h6 class="dropdown-header">Band Information</h6>
						<a class="dropdown-item" href="http://www.arrl.org/files/file/Regulatory/Band%20Chart/Band%20Chart%20-%2011X17%20Color.pdf" target="_blank">US Amateur Radio Bands Chart</a>
						<a class="dropdown-item" href="http://www.arrl.org/band-plan" target="_blank">US Amateur Radio Band Plan</a>
						<a class="dropdown-item" href="https://www.hamqsl.com/solar.html" target="_blank">Solar Data</a>
						<div class="dropdown-divider"></div>
						<h6 class="dropdown-header">Testing Groups</h6>
						<a class="dropdown-item" href="http://www.arrl.org/find-an-amateur-radio-license-exam-session" target="_blank">ARRL</a>
						<a class="dropdown-item" href="https://www.laurelvec.com/?pg=exams" target="_blank">Laurel VEC</a>
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link active" href="mailto:club@w0unc.org"><span class="far fa-envelope"></span></a>
				</li>
			</ul>
		</div>
	</div>
</nav>
