/*******************************/
/*          TOP ALERT          */
/*******************************/

.top-alert {
	border-radius: 0;
	margin-bottom: 0;
	text-align: center;
}


/*******************************/
/*           HEADER            */
/*******************************/

header {
	background: #000000 url(../img/header.jpg) no-repeat scroll center center;
	background-size: cover;
	color: white;
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	text-shadow: 2px 2px #000000;
}

header .background {
	background: rgba(0, 0, 0, 0.4);
}

header .btn-default {
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
	background: transparent;
	box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.75);
	text-shadow: none;
}

header .btn-default:hover,
header .btn-default:focus {
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.8);
	background: transparent;
	box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.8);
	color: rgba(255, 255, 255, 0.8);
}

header .btn-default:active,
header .btn-default.active {
	-moz-box-shadow: inset 0px 0px 0px 3px #ffffff;
	-webkit-box-shadow: inset 0px 0px 0px 3px #ffffff;
	background: transparent;
	box-shadow: inset 0px 0px 0px 3px #ffffff;
	color: #ffffff;
}

header .btn-lg {
	font-size: 14px;
	font-weight: bold;
	padding: 15px 65px;
}


/*******************************/
/*         EVENT CARD          */
/*******************************/

.event-date {
	font-family: 'Open Sans';
}

.event-date .event-date-day {
	font-size: 50px;
	font-weight: bold;
}

.event-date .event-date-month {
	font-size: 35px;
}

.event-date .event-date-year {
	font-size: 20px;
}


/*******************************/
/*           FOOTER            */
/*******************************/

footer {
	background: #232323;
	color: #cccccc;
	font-size: 12px;
}

footer > .copyright {
	background: #191919;
}


/*******************************/
/*         GOOGLE MAPS         */
/*******************************/

.google-maps {
	height: 0;
	padding-bottom: 75%;
	position: relative;
	overflow: hidden;
}

.google-maps iframe {
	height: 100% !important;
	left: 0;
	position: absolute;
	top: 0;
	width: 100% !important;
}


/*******************************/
/* BOOTSTRAP CARD COLUMNS FIX  */
/*******************************/

@media (min-width: 576px) {
	.card-columns {
			column-count: 1;
	}
}

@media (min-width: 768px) {
	.card-columns {
			column-count: 2;
	}
}

@media (min-width: 992px) {
	.card-columns {
			column-count: 3;
	}
}

@media (min-width: 1200px) {
	.card-columns {
			column-count: 3;
	}
}


/*******************************/
/*   BOOTSTRAP CARD DECK FIX   */
/*******************************/

@media (min-width: 576px) {
	.card-deck-2 .card {
			max-width: calc(100% - 30px);
			min-width: calc(100% - 30px);
	}
}

@media (min-width: 768px) {
	.card-deck-2 .card {
			max-width: calc(100% - 30px);
			min-width: calc(100% - 30px);
	}
}

@media (min-width: 992px) {
	.card-deck-2 .card {
			max-width: calc(50% - 30px);
			min-width: calc(50% - 30px);
	}
}

@media (min-width: 1200px) {
	.card-deck-2 .card {
			max-width: calc(50% - 30px);
			min-width: calc(50% - 30px);
	}
}


@media (min-width: 576px) {
	.card-deck-3 .card {
			max-width: calc(100% - 30px);
			min-width: calc(100% - 30px);
	}
}

@media (min-width: 768px) {
	.card-deck-3 .card {
			max-width: calc(50% - 30px);
			min-width: calc(50% - 30px);
	}
}

@media (min-width: 992px) {
	.card-deck-3 .card {
			max-width: calc(33% - 30px);
			min-width: calc(33% - 30px);
	}
}

@media (min-width: 1200px) {
	.card-deck-3 .card {
			max-width: calc(33% - 30px);
			min-width: calc(33% - 30px);
	}
}


@media (min-width: 576px) {
	.card-deck-4 .card {
			max-width: calc(100% - 30px);
			min-width: calc(100% - 30px);
	}
}

@media (min-width: 768px) {
	.card-deck-4 .card {
			max-width: calc(50% - 30px);
			min-width: calc(50% - 30px);
	}
}

@media (min-width: 992px) {
	.card-deck-4 .card {
			max-width: calc(25% - 30px);
			min-width: calc(25% - 30px);
	}
}

@media (min-width: 1200px) {
	.card-deck-4 .card {
			max-width: calc(25% - 30px);
			min-width: calc(25% - 30px);
	}
}
