/*******************************/
/*           HEADER            */
/*******************************/

#header {
	background: #000000 url(../img/header.jpg) no-repeat scroll 0% 50%;
	background-size: cover;
	color: white;
	font-family: "Open Sans", Helvetica, Arial;
	font-weight: 400;
	text-shadow: 2px 2px  #000000;
}

.header-background {
	background: rgba(0, 0, 0, 0.25);
}

#header .btn-default {
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
	background: transparent;
	box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.75);
	text-shadow: none;
}

#header .btn-default:hover,
#header .btn-default:focus {
	-moz-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.8);
	background: transparent;
	box-shadow: inset 0px 0px 0px 3px rgba(255, 255, 255, 0.8);
	color: rgba(255, 255, 255, 0.8);
}

#header .btn-default:active,
#header .btn-default.active {
	-moz-box-shadow: inset 0px 0px 0px 3px #ffffff;
	-webkit-box-shadow: inset 0px 0px 0px 3px #ffffff;
	background: transparent;
	box-shadow: inset 0px 0px 0px 3px #ffffff;
	color: #ffffff;
}

#header .btn-lg {
	font-size: 14px;
	font-weight: bold;
	padding: 15px 65px;
}


/*******************************/
/*           FOOTER            */
/*******************************/

#footer {
	background: #232323;
	color: #cccccc;
	font-size: 12px;
}

#footer #footer-copyright {
	background: #191919;
}


/*******************************/
/* BOOTSTRAP CARD COLUMNS FIX  */
/*******************************/

@media (min-width: 576px) {
	.card-columns {
			column-count: 1;
	}
}

@media (min-width: 768px) {
	.card-columns {
			column-count: 2;
	}
}

@media (min-width: 992px) {
	.card-columns {
			column-count: 3;
	}
}

@media (min-width: 1200px) {
	.card-columns {
			column-count: 3;
	}
}
