<!-- Head -->
{% include head.html %}
<!-- End Head-->


<!-- Navbar -->
{% include navbar.html %}
<!-- End Navbar -->


<!-- Header -->
<div class="jumbotron jumbotron-fluid text-center" id="header">
	<div class="container py-5">
		<div class="py-lg-5"></div>
		<h1 class="display-4 pb-3">The Amateur Radio Club at UNC Charlotte</h1>
		<a class="btn btn-default btn-lg" href="#faq" role="button">MORE INFO</a>
		<div class="py-lg-5"></div>
	</div>
</div>
<!-- End Header -->


<!-- Content -->
{{ content }}
<!-- End Content -->


<!-- Footer -->
{% include footer.html %}
<!-- End Footer -->
