<!-- Head -->
{% include head.html %}
<!-- End Head-->


<!-- Navbar -->
{% include navbar.html %}
<!-- End Navbar -->


<!-- Header -->
<div class="jumbotron jumbotron-fluid mb-4 mb-md-5 text-center" id="header">
	<div class="header-background">
		<div class="container py-5">
			<div class="py-lg-5"></div>
			<h1 class="display-4 pb-3">The Amateur Radio Club at UNC Charlotte</h1>
			<a class="btn btn-default btn-lg" href="https://ninerengage.uncc.edu/organization/amateur-radio-club" role="button" target="_blank">JOIN</a>
			<div class="py-lg-5"></div>
		</div>
	</div>
</div>
<!-- End Header -->


<!-- Content -->
<div style="min-height: 50vh">
	{{ content }}
</div>
<!-- End Content -->


<!-- Footer -->
{% include footer.html %}
<!-- End Footer -->
