<!-- Head -->
{% include head.html %}
<!-- End Head-->


<!-- Navbar -->
{% include navbar.html %}
<!-- End Navbar -->


<!-- Header -->
<div class="jumbotron jumbotron-fluid mb-0 text-center" id="header">
	<div class="container py-lg-3">
		<h1 class="display-4">{{ page.title }}</h1>
	</div>
</div>
<!-- End Header -->


<!-- Breadcrumbs -->
<div class="container">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{{ site.baseurl }}/">Home</a></li>
			<li class="breadcrumb-item"><a href="{{ site.baseurl }}/projects">Projects</a></li>
			<li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
		</ol>
	</nav>
</div>
<!-- Breadcrumbs -->


<!-- Content -->
<div class="container my-4 my-md-5">
	<div class="card-group">
		<div class="col-lg-8 my-3">
			<div class="card sm-shadow">
				<div class="card-body">
					<h3 class="card-title text-center">Description</h3>
					<p>{{ page.excerpt }}</p>
				</div>
			</div>
		</div>
		<div class="col-lg-4 my-3">
			<div class="card sm-shadow">
				<div class="card-body">
					<h3 class="card-title text-center">Information</h3>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"><span class="font-weight-bold">Status: </span>{{ page.status }}</li>
					<li class="list-group-item"><span class="font-weight-bold">Project Lead: </span>{{ page.project-lead }}</li>
					<li class="list-group-item"><span class="font-weight-bold">
						<p>Completion: </p>
						<div class="progress my-3" style="height: 20px">
							{% if page.progress == '100' %}
								<div class="progress-bar bg-success" role="progressbar" style="width: {{ page.progress }}%;" aria-valuenow="{{ page.progress }}" aria-valuemin="0" aria-valuemax="100">{{ page.progress }}%</div>
							{% else %}
								<div class="progress-bar" role="progressbar" style="width: {{ page.progress }}%;" aria-valuenow="{{ page.progress }}" aria-valuemin="0" aria-valuemax="100">{{ page.progress }}%</div>
							{% endif %}
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- End Content -->


<!-- Footer -->
{% include footer.html %}
<!-- End Footer -->
